/********************************************
    PROJECT NAME: College Management
    FONTS:                 Roboto Condensed(300, 400, 400+italics, 700, 700+italics)
    Greenish Blue         :#34c6d3(Buttons,Icons,Links,Lines & bg)
    Steel Gray:           :#41464b(Headings)
    Blue Bayoux:          :#64707b(Paragraphs)
    White:                :FFF( Text with darker bg)
    Black:                :#000;
    
********************************************/

body {
    font-family: "Roboto Condensed", sans-serif;
}

html,
body {
    height: 100%;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

h2 {
    color: #222;
    text-align: center;
    font-weight: bold;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}


/**************************************************
|   |   |   |   Home Section    |    |    |    |
**************************************************/

#home {
    height: 100%;
}

#home-cover {
    background-image: url('../images/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /*    text-align: center;*/
}

#home-heading h3 {
    color: #FFF;
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0;
}


/**************************************************
|   |   |   |   Buttons(Generic)    |    |    |    |
**************************************************/

.btn-general {
    border: solid 2px #fff;
    border-radius: 0;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background: #34c6d3;
    color: #fff;
}


/**************************************************
|   |   |   |   Parallax    |    |    |    |
**************************************************/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}


/**************************************************
|   |   |   |   Animation Settings    |    |    |    |
**************************************************/

#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}


/**************************************************
|   |   |   |   Content Box (Generic)    |    |    |    |
***********************.***************************/

.content-box {
    padding: 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background: #34c6d3;
    margin: 0 auto 30px;
    ;
}


/**************************************************
|   |   |   |   Service section    |    |    |    |
***********************.***************************/

.service-item {
    padding: 20px 0;
    margin: 0 0 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    width: 75px;
    height: 75px;
    padding: 15px;
    margin-right: 25px;
    text-align: center;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background: #34c5d3;
}

.service-item-desc p {
    margin: 0;
}


/**************************************************
|   |   |   |   About section    |    |    |    |
***********************.***************************/

.about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    display: table;
    width: 100%;
    height: 100%;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 30px 0;
}

#about p {
    margin-bottom: 30px;
}

#about-h3 {
    font-size: 30px;
    font-weight: bolder;
}

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url("../images/bg-about.jpg");
    border-top: solid 700px transparent;
    border-left: solid 200px #fff;
}


/**************************************************
|   |   |   |   Work section    |    |    |    |
***********************.***************************/

.row.no-padding [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.image-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

.image-wrapper {
    overflow: hidden;
}

.image-wrapper img {
    transition: transform .5s ease;
}


/**************************************************
|   |   |   |   Team section    |    |    |    |
***********************.***************************/

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}


/**************************************************
|   |   |   |   Social section    |    |    |    |
***********************.***************************/

.social-list {
    padding-left: 0;
    6px;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

.icon-white i {
    color: #fff;
}

.social-icon i:hover {
    color: #34c6d3;
}


/**************************************************
|   |   |   |   Clients section    |    |    |    |
***********************.***************************/

#client-cover {
    background-image: url('../images/bg-testimonials.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.color {
    color: #fff;
}

.client {
    margin: 0 15px;
}

.client-info {
    padding: 10px 0 30px 0;
}

h4.client-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

#image1 {
    width: 100px;
    height: 100px;
}

#our-clients {
    width: 100%;
    margin: 0 auto;
}

.quote {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.client-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

.client-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
